*,
*::before,
*::after {
    box-sizing: border-box;

}

body {
    background-color: #161616;
    color: #e2e2e2;
}

#blue {
    color: blue;
}

#green {
    color: green;
}

#red {
    color: red;
}

#purple {
    color: purple;
}

#pink {
    color: pink;
}

#lilac {
    color: #C8A2C8;
}